<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Experienced Management Team</title>
    <link rel="stylesheet" href="{% static 'css/team.css' %}">
  
</head>
<body>
    <div class="container">
        <h1>🅾🆄🆁 🅴🆇🅿🅴🆁🅸🅴🅽🅲🅴🅳 🅼🅰🅽🅰🅶🅴🅼🅴🅽🆃 🆃🅴🅰🅼</h1>
        <div class="team">
            <div class="member">
                <img src="../static/img/akshay1.jpeg" alt="Robin Smith">
                <div class="name">𝗔𝗸𝘀𝗵𝗮𝘆.𝗽.𝘁</div>
                <div class="title">Chief Executive Officer</div>
                <div class="info">Experience: 20+ years<br>Specialization: marriege event planning and management</div>
            </div>
            <div class="member">
                <img src="../static/img/vishanu1.jpg" alt="Dax Coppy">
                <div class="name">vishanu.p</div>
                <div class="title">Vice President</div>
                <div class="info">Experience: 15 years<br>Specialization: birthday Event Planning and Management</div>
            </div>
            <div class="member">
                <img src="../static/img/sreehari.jpg" alt="Caitlin Scott">
                <div class="name">Sreehari.p</div>
                <div class="title">Head of Event Operations</div>
                <div class="info">Experience: 6+ years<br>Specialization: StageEvent , coordination with departments</div>
            </div>
            <div class="member">
                <img src="../static/img/adith.jpg" alt="Mark Mackay">
                <div class="name">Adith.k.k</div>
                <div class="title">Senior Event Producer</div>
                <div class="info">Experience: 7 years<br>Specialization: Event conception and sponsorship</div>
            </div>
            <div class="member">
                <img src="../static/img/hari.jpg" alt="Mark Mackay">
                <div class="name">Hari Krishna</div>
                <div class="info">Experience: 7 years<br>Specialization: Event catering and sponsorship</div>
            </div>
            <div class="member">
                <img src="../static/img/shino.jpg" alt="Mark Mackay">
                <div class="name">Shino</div>
                <div class="title">Senior design Producer</div>
                <div class="info">Experience: 7 years<br>Specialization:Grand Event designer</div>
            </div>
        </div>
    </div>
</body>
</html>
