body {
    color: white;
    text-align: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    animation: slideshow 15s infinite linear;
}
@keyframes slideshow {
    0% { background-image: url('../img/event_cover_photo.webp'); background-size: cover; background-position: center; }
    33% { background-image: url('../img/baloons.jpg'); background-size: cover; background-position: center; }
    66% { background-image: url('../img/slider2.jpg'); background-size: cover; background-position: center; }
    100% { background-image: url('../img/eventscom_cover.jpeg'); background-size: cover; background-position: center; }
}

